body {
  font-family: "Montserrat";
}

/* Common Styles Among Sections */

.section-second-lvl-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-third-lvl-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.align-center{
  text-align: center;
}

.general-padding{
  padding: 7% 15%;
}

/* Title Section Styles */

#title {
  background-color: #ff4c68;
}

#title h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

#title .navbar {
  padding: 0 0 4.5rem;
}

#title div.container-fluid {
  padding: 3% 15% 7%;
}

#title .navbar {
  padding: 0 0 4.5rem;
}

#title .navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

#title .nav-item {
  padding: 0 18px;
}

#title .nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

#title .title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section Styles */

#features {
  background-color: #fff;
  position: relative;
}

#features .icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

#features .icon:hover {
  color: #ff4c68;
}

#features p {
  color: #8f8f8f;
}

#features .features-box {
  padding: 0 5%;
}

/* Testimonials Section Styles */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

#testimonials .testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section Styles */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#press #press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section Styles */

#pricing {
  padding: 100px;
}

#pricing .pricing-column {
  padding: 3% 2%;
}

/* CTA Section Styles */

#cta {
  background-color: #ff4c68;
}

#cta h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 2%;
}

/* Footer Section Styles */

#footer {
  background-color: #fff;
}

#footer .footer-icon {
  margin: 20px 10px;
}

/* Media Queries */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  #title .title-image {
    position: static;
    transform: rotate(0);
  }
}
