body{
  font-family: "Montserrat";
}
section#title {
  background-color: #ff4c68;
}

#title h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

.navbar{
  padding: 0 0 4.5rem;
}

#title div.container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 200;
}


.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
}

#features{
  text-align: center;
  padding: 7% 15%;
}

.icon{
  color : #ef8172;
  margin-bottom: 1rem;
  /* font-size: 4rem; */
}

.icon:hover{
  color : #ff4c68;
}

#features h3{
  font-size: 1.5rem;
  font-weight: bold;
}

#features p{
  color: #8f8f8f;
}

.features-box{
  padding: 0 5%;
}





